* {
   margin:0;
   padding:0;
}

::-webkit-scrollbar {
  width : 0.1px; 
  height: 5px;
  pacity: 0.02;
} /* УБРАЛ ПОЛОСУ ПРОКРУТКИ С ЭКРАНА и сделал свою. 
Когда пишу сайт, чтобы на планшете отображалось содержимое от края до края страницы 
без зазоров, прокрутку можно отключить. И включить для красоты по готовности сайта.*/

::-webkit-scrollbar-button {height: 50px; background :#42e10e; }  /*2 - кнопка*/  

::-webkit-scrollbar-track {background: #274dd7; }  /*3 - трек */ 

::-webkit-scrollbar-track-piece { background: #e91e63;}  /*4 - видимая часть трека */ 

::-webkit-scrollbar-thumb {background: #fbe100; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}

body {
box-sizing: border-box;
background-color: #7a7373;
}

.content_certificate {
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
height: 851px/*958px*/;
margin: 0 auto;
margin-top: 16px/*33px*/;
margin-right: 70px;
margin-left: 70px;
border-radius: 67px;
background-color: #8f8f6078;
box-shadow: 0px 6px 18px 5px black;
}

.filter-img_1 {
osition: absolute;
width: 800px;
height: 360px;
border: 10px solid #07b6ffd4;
margin-top: 34px;
margin-bottom: 19px;
background-color: #ff0;
background-image: url(images/IMG_1.jpg);
background-size: cover;
background-position: center center;
box-shadow: 7px 9px 6px 2px #34323299;
}

.filter-img_2 {
osition: absolute;
width: 800px;
height: 360px;
border: 10px solid #c50e676e;
margin-bottom: 38px;
background-color: #ff0;
background: url(images/IMG_2.jpg) no-repeat;
background-size: cover;
background-position: center center;
box-shadow: 7px 9px 6px 2px #34323299;
}

.img {
width: 783px;
height: 342px;
border: 9px double #7fffd4;
}


@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
.content_certificate { height: 754px; margin-top: 17px; }
.filter-img_1 {width: 721px; height: 40%; margin-top: 35px; margin-bottom: 17px; }
.filter-img_2 { width: 721px; height: 40%;}
.img { width: 701px; height: 95%;}
}

@media screen and (max-width: 800px) {
 .content_certificate {width: 673px; height:736px; border-radius: 37px; margin-top: 239px; margin-left: 62px;}
.filter-img_1 { width: 582px; height: 40%; margin-top: 39px; margin-bottom: 16px;}
.filter-img_2 { width: 582px; height: 40%;}
.img { width: 564px;height: 94%;} 
}

@media screen and (max-width: 768px) {
.content_certificate {width: 673px; height:736px; border-radius: 37px; margin-top: 29px; margin-left: 49px;}
.filter-img_1 { width: 582px; height: 40%; margin-top: 39px; margin-bottom: 16px;}
.filter-img_2 { width: 582px; height: 40%;}
.img { width: 564px;height: 94%;}
}

@media screen and (max-width: 425px) {
.content_certificate { width: 395px; height: 717px; border-radius: 17px; margin-top: 36px; margin-left: 15px;}
.filter-img_1  { width: 88%; margin-top: 19px; margin-bottom: 80px;}
.filter-img_2 { width: 88%; height: 55%; margin-bottom: 22px;}
.img { width: 95%; height: 94%;}
}

@media screen and (max-width: 375px) {
.content_certificate { width: 346px; height: 717px; border-radius: 17px; margin-top: 36px; margin-left: 15px;}
.filter-img_1  { width: 88%; margin-top: 18px; margin-bottom: 55px;}
.filter-img_2 { width: 88%; height: 40%; margin-bottom: 22px;}
.img { width: 95%; height: 94%;}
}